<div id="chat-container">
    <!-- 채팅 로그를 표시할 textarea -->
    <textarea id="chat-log" rows="15" cols="100" readonly></textarea>

    <!-- 메시지 입력 필드 -->
    <input id="chat-message-input" type="text" size="100">
    <button id="chat-message-submit">Send</button>

    <!-- 사용자 목록 -->
    <ul id="user-list">
        {% for user in room.users.all %}
        <li>
            {{ user.username }}
            {% if request.user == room.owner and user != room.owner %}
            <button onclick="kickUser('{{ user.id }}')">강퇴</button>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

<script>
    function kickUser(userId) {
        fetch(`/kick_user/{{ room.id }}/${userId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('유저가 강퇴되었습니다.');
                location.reload();
            } else {
                alert(data.error);
            }
        });
    }

    const roomName = "{{ room.id }}";
    const chatSocket = new WebSocket(`ws://localhost:8001/ws/chat/${roomName}/`);
    const userName = "{{ request.user.username }}"
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        // 채팅 메시지를 채팅 로그에 추가
        const chatLog = document.querySelector('#chat-log');
        chatLog.value += `${userName}: ${data.message}\n`;
        // 채팅 로그의 끝으로 스크롤을 자동으로 이동
        chatLog.scrollTop = chatLog.scrollHeight;
    };

    chatSocket.onopen = function(e) {
        console.log("WebSocket connected.");
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    chatSocket.onerror = function(e) {
        console.log("WebSocket error:", e);
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // Enter key
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'username': '{{ request.user.username }}'
        }));
        messageInputDom.value = '';
    };
</script>
